@import '@sproutsocial/seeds-color/dist/seeds-color.css';
@import '@sproutsocial/seeds-typography/dist/seeds-typography.css';

#Header {
    background-color: var(--color-blue-0);
    height: 392px;
    width: 100%;
    text-align: left;
}

h1 {
    font-size: var(--typography-size--800);
    font-weight: var(--typography-weight--bold);
}

p {
    font-size: var(--typography-size--500);
    font-weight: var(--typography-weight--normal); 
}

.banner--full {
    background-color: var(--color-blue-1100);
    height: 72px;
    width: 100%;
}